.profile__container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.profile__header {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: var(--profile-header-font-size);
}

.profile__header__lines {
  display: flex;
  flex-direction: column;
  gap: 0.125em;
  font-weight: var(--profile-header-line-font-weight);

  p {
    margin: 0;
  }
}

.profile__block-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25em;
}

.profile__education-element {
  display: flex;
  flex-direction: column;
}

.profile__education-school {
  font-weight: var(--profile-edu-school-font-weight);
  font-size: var(--profile-edu-school-font-size);
  color: var(--profile-edu-school-color);
}

.profile__education-years,
.profile__education-location {
  color: var(--profile-edu-location-color);
  font-size: var(--profile-edu-location-font-size);
}

.profile__education-degree {
  font-size: var(--profile-edu-degree-font-size);
  font-weight: var(--profile-edu-degree-font-weight);
}

.profile__education-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.profile__skills-bubbles {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
  font-size: var(--profile-skill-bubble-font-size);
}

.profile__skills-span {
  font-size: var(--profile-skill-span-font-size);
  font-weight: var(--profile-skill-span-font-weight);
}
