.profile__container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.profile__header {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: 14px;
}

.profile__header__lines {
  display: flex;
  flex-direction: column;
  gap: 0.125em;

  p {
    margin: 0;
  }
}

.profile__block-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25em;
}

.profile__education-element {
  display: flex;
  flex-direction: column;
}

.profile__education-school {
  font-weight: 600;
  font-size: 14px;
  color: var(--color-neutral-400);
}

.profile__education-years,
.profile__education-location {
  color: var(--color-neutral-400);
  font-size: 14px;
}

.profile__education-degree {
  font-size: 16px;
  font-weight: 600;
}

.profile__education-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.profile__skills-bubbles {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
  font-size: 12px;
}

.profile__skills-span {
  font-weight: 500;
  font-size: 14px;
}
