.profile__header__image img {
  height: 150px;
  overflow: hidden;
}

.profile__header__image__circular img {
  border-radius: 9999px;
}

.profile__header__image__border img {
  border: 3px solid var(--red);
}