.profile__header__link {
  padding: 0.125em;

  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  span {
    font-size: var(--profile-header-link-font-size);
  }
}
