.category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.category__title {
  font-size: var(--category-title-font-size);
  font-weight: var(--category-title-font-weight);
}
.category__subtitle {
  font-size: var(--category-subtitle-font-size);
  font-weight: var(--category-subtitle-font-weight);
}

.category__data {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.category__bubbles {
  display: flex;
  gap: 0.5em;
  font-size: var(--category-bubble-font-size);
}

.category__lines {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    font-size: var(--category-lines-font-size);
  }
}

.category__bulletPoints {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 1em;
}
