.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header__lines > p {
  margin: 0;
  color: var(--header-line-color);
  font-size: var(--header-line-font-size);
  line-height: 1.3;
}

.header__name {
  font-family: "Sacramento", cursive;
  line-height: 1.1;
  margin: 0;
  font-size: var(--header-name-font-size);
}
