.app__container {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1.1em;
}

.app__body {
  display: flex;
  gap: 2em;
}

.app__body-left {
  flex: 0.7;
}

.app__body-right {
  flex: 0.3;
}
