@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -print-color-adjust: exact;

  --color-theme: ;
  --light-grey: rgb(94, 90, 94);
  --light-grey-transparent: rgb(94, 90, 94, 0.3);
  --black: rgb(20, 20, 20);
}
